In [ ]:
import pandas  as pd

In [ ]:
df = pd.read_csv("/content/espnfinal.csv")
df

,Unnamed: 0,Player,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Initial_Year,Retirement_Year,Country,Career_Span
0,0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,20
1,1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG,1
2,2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
3,3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,7
4,4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,58,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS,16
59,59,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA,12
60,60,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS,10
61,61,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS,8
62,62,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG,6

Questions Asked :
1. Calculate the median number of runs scored by all players.

2. Find all players who have never been out for a duck (0 runs).

3. Identify the player with the highest batting average for each country.

4. Determine the correlation between 'Matches_Played' and 'Runs'.

5. List all players who have a career span of more than 15 years.

6. Find the player with the highest individual score in an innings.

7. Create a new column 'Run_Rate' as the average runs scored per match and find the top 5 players by this metric.

8. Calculate the average strike rate of players who started their career in the same year.

9. Find all players who have scored more than 2000 runs and have a strike rate above 50.

10. Create a new column 'Total_Boundaries' as the sum of 4s and 6s hit by each player and list the top 5 players by this metric.

In [ ]:
# 1. Calculate the median number of runs scored by all players.
median_of_runs = df["Runs"].median()
median_of_runs

6235.0

In [ ]:
# 2. Find all players who have never been out for a duck (0 runs).
df[df["0"]==0]

Empty DataFrame
Columns: [Unnamed: 0, Player, Matches_Played, Innings_Played, Nots_Outs, Runs, Highest_Inns_Score, Batting_Average, Balls_Faced, Strike_Rate, 100, 50, 0, 4s, 6s, Initial_Year, Retirement_Year, Country, Career_Span]
Index: []

In [ ]:
# 3. Identify the player with the highest batting average for each country.
highest_batting_average = df.loc[df.groupby("Country")["Batting_Average"].idxmax()]
highest_batting_average

,Unnamed: 0,Player,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Initial_Year,Retirement_Year,Country,Career_Span
0,0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,20
1,1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG,1
27,27,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND,16
45,45,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK,15
17,17,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA,18
25,25,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI,16
21,21,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND,2
19,19,KS Williamson,100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,NZ,14
26,26,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,PAK,17
3,3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,7
12,12,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL,15
4,4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,24
32,32,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM,10

In [ ]:
# 4. Determine the correlation between 'Matches_Played' and 'Runs'.
df["Matches_Played"].corr(df["Runs"])

0.9836549959869189

In [ ]:
# 5. List all players who have a career span of more than 15 years.
players_above_15 = df[df["Career_Span"]>15]
print(players_above_15["Player"])

0           DG Bradman
4           GA Headley
10          WR Hammond
11           GS Sobers
14            JB Hobbs
16            L Hutton
17           JH Kallis
23           AD Nourse
24        SR Tendulkar
25             BC Lara
26       Javed Miandad
27            R Dravid
29         Younis Khan
30          RT Ponting
34       S Chanderpaul
35         SM Gavaskar
36            SR Waugh
39           AR Border
41        IVA Richards
42         DCS Compton
43    DPMD Jayawardene
48             CP Mead
54          B Mitchell
58          KD Walters
Name: Player, dtype: object

In [ ]:
# 6. Find the player with the highest individual score in an innings.
df.iloc[df["Highest_Inns_Score"].idxmax()]["Player"]

'BC Lara'

In [ ]:
# 7. Create a new column 'Run_Rate' as the average runs scored per match and find the top 5 players by this metric.
df["Run_Rate"] = df["Runs"] / df["Matches_Played"]
df.nlargest(5, "Run_Rate")["Player"]

0    DG Bradman
4    GA Headley
1      HC Brook
3    RG Pollock
9     ED Weekes
Name: Player, dtype: object

In [ ]:
# 8. Calculate the average strike rate of players who started their career in the same year.
# Sample Year = 2000
players_in_2000 = df[df["Initial_Year"]==2000]
players_in_2000['Strike_Rate'].mean()

53.155

In [ ]:
# 9. Find all players who have scored more than 2000 runs and have a strike rate above 50.
df[(df["Runs"]>2000) & (df["Strike_Rate"]>50)]["Player"]

0           DG Bradman
3           RG Pollock
4           GA Headley
11           GS Sobers
12       KC Sangakkara
13           SPD Smith
19       KS Williamson
22         GS Chappell
23           AD Nourse
24        SR Tendulkar
25             BC Lara
28     Mohammad Yousuf
29         Younis Khan
30          RT Ponting
33          MEK Hussey
37           ML Hayden
38      AB de Villiers
41        IVA Richards
43    DPMD Jayawardene
44             JE Root
45      Inzamam-ul-Haq
46       M Labuschagne
49            V Sehwag
51             V Kohli
52           MJ Clarke
59            GC Smith
61           SJ McCabe
Name: Player, dtype: object

In [ ]:
# 10. Create a new column 'Total_Boundaries' as the sum of 4s and 6s hit by each player and list the top 5 players by this metric.
df["Total_Boundaries"] = df["4s"] + df["6s"]
df.nlargest(5,"Total_Boundaries")

,Unnamed: 0,Player,Matches_Played,Innings_Played,Nots_Outs,Runs,Highest_Inns_Score,Batting_Average,Balls_Faced,Strike_Rate,...,50,0,4s,6s,Initial_Year,Retirement_Year,Country,Career_Span,Run_Rate,Total_Boundaries
24,24,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,...,68,14,2058,69,1989,2013,IND,24,79.605000,2127
27,27,R Dravid,164,286,32,13288,270,52.31,31258,42.51,...,63,8,1654,21,1996,2012,ICC/IND,16,81.024390,1675
25,25,BC Lara,131,232,6,11953,400,52.88,19753,60.51,...,48,17,1559,88,1990,2006,ICC/WI,16,91.244275,1647
17,17,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,...,58,16,1488,97,1995,2013,ICC/SA,18,80.054217,1585
30,30,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,...,62,17,1509,73,1995,2012,AUS,17,79.630952,1582

In [ ]:
# CONVERSION OF FILE INTO CSV FILE
df.to_csv("/content/espnanalysed.csv")